.Table {
    width: 100%;
    padding: 5px;
    font-size: 0.7em;
    border-collapse: collapse;
    box-sizing: border-box;
}

.Table__header {
    max-width: 50px;
    padding: 5px;
    overflow: hidden;
    color: #282c34;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px solid #282c34;
}

.Table__cell {
    padding: 5px;
    text-align: right;
    border-bottom: 1px solid #282c34;
}

.Table__row:nth-child(2n) {
    background-color: #f7f7f7;
}



